body {
    background: #f5f5dc;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    width: 350px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

input, textarea, select {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #ff69b4;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.actions button {
    width: 90%;
}

#card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    min-height: 120px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* THEMES */

.flower {
    background: linear-gradient(135deg, #ffe4ec, #fff0f5);
    color: #b03060;

    font-family: "Brush Script MT", cursive;
    font-size: 18px;

    border: 2px dashed #ffb6c1;
}

.romantic {
    background: linear-gradient(135deg, #ff4d6d, #ff85a2);
    color: white;

    font-family: 'Playfair Display', serif;
    font-size: 18px;

    border: 2px solid #ff1e4d;
}

.aesthetic {
    background: linear-gradient(135deg, #cbb4f4, #e6dcff);
    color: #4b3f72;

    font-family: 'Quicksand', sans-serif;
    font-size: 17px;

    border: 2px solid #b39ddb;
}

/* VIEW MODE (shared link) */
body.view-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}